<template>
    <div class="form-group">
        <label for="inputEmail" class="mt-5">Email address</label>
        <input type="email" v-model="email" class="form-control mb-3" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        
        <label for="inputName">Name</label>
        <input type="text" v-model="name" class="form-control mb-3" id="inputName" aria-describedby="emailName" placeholder="Enter name">

        <label for="selectOptions">Example select</label>
        <select class="form-control mb-3" id="selectOptions" v-model="select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

        <button type="submit" class="btn btn-primary mr-5" @click="$emit('submit')">Submit</button>
        <button type="submit" class="btn btn-success" @click="fillData">Fill Data</button>
    </div>
</template>


<script>
export default {
    name: "Form",
    data: () => ({
        name: "",
        email: "",
        select: ""
    }),
    methods: {
        fillData(){
            this.name = "John Smith";
            this.email = "johnsmith@gmail.com";
            this.select = "2";
            this.$emit('submit',this.name,this.email,this.select);
        }
    }
}
</script>
