<template>
    
    <div class="card p-3 text-center">
        <div id="divId"></div>
    </div>

    
</template>

<script>
import Plotly from 'plotly.js-dist'

export default {
    name: "PieChart",
    props:["labels","values"],
    data: () => ({
        width: 400,
        height:300
    }),
    mounted(){
        let data = [{
            values: [19, 26, 55],
            labels: ['Residential', 'Non-Residential', 'Utility'],
            type: 'pie'
        }];

        let layout = {
            width: this.width,
            height: this.height
        };

        Plotly.newPlot("divId", data, layout);

        document.getElementById('divId').on('plotly_click',(data) => {
            this.$emit('click',data.points[0]);
        });

        document.getElementById('divId').on('plotly_hover',(data) => {
            this.$emit('hover',data.points[0]);
        });
    }
}
</script>